@tailwind base;
@tailwind components;
@tailwind utilities;


#idYouTubeIconHtml{background:red;border-radius:25%/12%;color:white;cursor:pointer;height:25px;font-size:15px;line-height:20px;position:relative;text-align:center;text-indent:10%;width:32.5px;}
#idYouTubeIconHtml:before{background:inherit;border-radius:5%/30%;bottom:10%;content:'\25B6';left:-4%;position:absolute;right:-5%;top:10%;}
#idYouTubeIconHtml:hover{background:#f66;}